/* Volkswagen Head */

@font-face {
	font-family: 'Volkswagen-head';
	src: url(../fonts/VWHeadWeb-Light.eot); /* IE9 Compat Modes */
	src: url(../fonts/VWHeadWeb-Light.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
	     url(../fonts/VWHeadWeb-Light.woff2) format('woff2'),/* Super Modern Browsers */
	     url(../fonts/VWHeadWeb-Light.woff) format('woff'), /* Pretty Modern Browsers */
	     url(../fonts/VWHeadWeb-Light.ttf) format('truetype'), /* Safari, Android, iOS */
	     url(../fonts/VWHeadWeb-Light.svg#Volkswagen-head) format('svg'); /* Legacy iOS */
	font-weight: 300;
	font-style: normal;
}
 
@font-face {
	font-family: 'Volkswagen-head';
	src: url(../fonts/VWHeadWeb-Regular.eot); /* IE9 Compat Modes */
	src: url(../fonts/VWHeadWeb-Regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
	     url(../fonts/VWHeadWeb-Regular.woff2) format('woff2'),/* Super Modern Browsers */
	     url(../fonts/VWHeadWeb-Regular.woff) format('woff'), /* Pretty Modern Browsers */
	     url(../fonts/VWHeadWeb-Regular.ttf) format('truetype'), /* Safari, Android, iOS */
	     url(../fonts/VWHeadWeb-Regular.svg#Volkswagen-head) format('svg'); /* Legacy iOS */
	font-weight: 400;
	font-style: normal;
}
 
@font-face {
	font-family: 'Volkswagen-head';
	src: url(../fonts/VWHeadWeb-RegularItalic.eot); /* IE9 Compat Modes */
	src: url(../fonts/VWHeadWeb-RegularItalic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
	     url(../fonts/VWHeadWeb-RegularItalic.woff2) format('woff2'),/* Super Modern Browsers */
	     url(../fonts/VWHeadWeb-RegularItalic.woff) format('woff'), /* Pretty Modern Browsers */
	     url(../fonts/VWHeadWeb-RegularItalic.ttf) format('truetype'), /* Safari, Android, iOS */
	     url(../fonts/VWHeadWeb-RegularItalic.svg#Volkswagen-head) format('svg'); /* Legacy iOS */
	font-weight: 400;
	font-style: italic;
}
 
@font-face {
	font-family: 'Volkswagen-head';
	src: url(../fonts/VWHeadWeb-Bold.eot); /* IE9 Compat Modes */
	src: url(../fonts/VWHeadWeb-Bold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
	     url(../fonts/VWHeadWeb-Bold.woff2) format('woff2'),/* Super Modern Browsers */
	     url(../fonts/VWHeadWeb-Bold.woff) format('woff'), /* Pretty Modern Browsers */
	     url(../fonts/VWHeadWeb-Bold.ttf) format('truetype'), /* Safari, Android, iOS */
	     url(../fonts/VWHeadWeb-Bold.svg#Volkswagen-head) format('svg'); /* Legacy iOS */
	font-weight: 700;
	font-style: normal;
}
 
@font-face {
	font-family: 'Volkswagen-head';
	src: url(../fonts/VWHeadWeb-BoldItalic.eot); /* IE9 Compat Modes */
	src: url(../fonts/VWHeadWeb-BoldItalic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
	     url(../fonts/VWHeadWeb-BoldItalic.woff2) format('woff2'),/* Super Modern Browsers */
	     url(../fonts/VWHeadWeb-BoldItalic.woff) format('woff'), /* Pretty Modern Browsers */
	     url(../fonts/VWHeadWeb-BoldItalic.ttf) format('truetype'), /* Safari, Android, iOS */
	     url(../fonts/VWHeadWeb-BoldItalic.svg#Volkswagen-head) format('svg'); /* Legacy iOS */
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Volkswagen-head';
	src: url(../fonts/VWHeadWeb-ExtraBold.eot); /* IE9 Compat Modes */
	src: url(../fonts/VWHeadWeb-ExtraBold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
	     url(../fonts/VWHeadWeb-ExtraBold.woff2) format('woff2'),/* Super Modern Browsers */
	     url(../fonts/VWHeadWeb-ExtraBold.woff) format('woff'), /* Pretty Modern Browsers */
	     url(../fonts/VWHeadWeb-ExtraBold.ttf) format('truetype'), /* Safari, Android, iOS */
	     url(../fonts/VWHeadWeb-ExtraBold.svg#Volkswagen-head) format('svg'); /* Legacy iOS */
	font-weight: 800;
	font-style: normal;
}
 
/* Volkswagen Text */

@font-face {
	font-family: 'Volkswagen-text';
	src: url(../fonts/VWTextWeb-Light.eot); /* IE9 Compat Modes */
	src: url(../fonts/VWTextWeb-Light.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
	     url(../fonts/VWTextWeb-Light.woff2) format('woff2'),/* Super Modern Browsers */
	     url(../fonts/VWTextWeb-Light.woff) format('woff'), /* Pretty Modern Browsers */
	     url(../fonts/VWTextWeb-Light.ttf) format('truetype'), /* Safari, Android, iOS */
	     url(../fonts/VWTextWeb-Light.svg#Volkswagen-text) format('svg'); /* Legacy iOS */
	font-weight: 300;
	font-style: normal;
}
 
@font-face {
	font-family: 'Volkswagen-text';
	src: url(../fonts/VWTextWeb-Regular.eot); /* IE9 Compat Modes */
	src: url(../fonts/VWTextWeb-Regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
	     url(../fonts/VWTextWeb-Regular.woff2) format('woff2'),/* Super Modern Browsers */
	     url(../fonts/VWTextWeb-Regular.woff) format('woff'), /* Pretty Modern Browsers */
	     url(../fonts/VWTextWeb-Regular.ttf) format('truetype'), /* Safari, Android, iOS */
	     url(../fonts/VWTextWeb-Regular.svg#Volkswagen-text) format('svg'); /* Legacy iOS */
	font-weight: 400;
	font-style: normal;
}
 
@font-face {
	font-family: 'Volkswagen-text';
	src: url(../fonts/VWTextWeb-RegularItalic.eot); /* IE9 Compat Modes */
	src: url(../fonts/VWTextWeb-RegularItalic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
        url(../fonts/VWTextWeb-RegularItalic.woff2) format('woff2'),/* Super Modern Browsers */
        url(../fonts/VWTextWeb-RegularItalic.woff) format('woff'), /* Pretty Modern Browsers */
        url(../fonts/VWTextWeb-RegularItalic.ttf) format('truetype'), /* Safari, Android, iOS */
        url(../fonts/VWTextWeb-RegularItalic.svg#Volkswagen-text) format('svg'); /* Legacy iOS */
	font-weight: 400;
	font-style: italic;
}
 
@font-face {
	font-family: 'Volkswagen-text';
	src: url(../fonts/VWTextWeb-Bold.eot); /* IE9 Compat Modes */
	src: url(../fonts/VWTextWeb-Bold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
        url(../fonts/VWTextWeb-Bold.woff2) format('woff2'),/* Super Modern Browsers */
        url(../fonts/VWTextWeb-Bold.woff) format('woff'), /* Pretty Modern Browsers */
        url(../fonts/VWTextWeb-Bold.ttf) format('truetype'), /* Safari, Android, iOS */
        url(../fonts/VWTextWeb-Bold.svg#Volkswagen-text) format('svg'); /* Legacy iOS */
	font-weight: 700;
	font-style: normal;
}
 
@font-face {
	font-family: 'Volkswagen-text';
	src: url(../fonts/VWTextWeb-BoldItalic.eot); /* IE9 Compat Modes */
	src: url(../fonts/VWTextWeb-BoldItalic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
        url(../fonts/VWTextWeb-BoldItalic.woff2) format('woff2'),/* Super Modern Browsers */
        url(../fonts/VWTextWeb-BoldItalic.woff) format('woff'), /* Pretty Modern Browsers */
        url(../fonts/VWTextWeb-BoldItalic.ttf) format('truetype'), /* Safari, Android, iOS */
        url(../fonts/VWTextWeb-BoldItalic.svg#Volkswagen-text) format('svg'); /* Legacy iOS */
	font-weight: 700;
	font-style: italic;
}


/** Flat Icons **/

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-tmktrack:before {
	content: "\e000";
}
.flaticon-form:before {
	content: "\e001";
}
.flaticon-email:before {
	content: "\e002";
}
.flaticon-externallink:before {
	content: "\e003";
}
.flaticon-funnel:before {
	content: "\e004";
}
.flaticon-incomes:before {
	content: "\e005";
}
.flaticon-telemarketer:before {
	content: "\e006";
}