@function property-value($property, $selector: null) {
    @return $magic;
}


// STRIP UNIT
// It strips the unit of measure and returns it
@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

// CONVERT TO REM
$rem-base: 16px !default;

@function convert-to-rem($value, $base-value: $rem-base) {
	$value: strip-unit($value) / strip-unit($base-value) * 1rem;

	@if ($value == 0rem) { $value: 0; } // Turn 0rem into 0

	@return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
	$max: length($values);

	@if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }

	$remValues: ();

	@for $i from 1 through $max {
		$remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
	}

	@return $remValues;
}

@function calculateRem($size) {
	$remSize: $size / $rem-base;
	@return #{$remSize}rem;
}

@mixin fontSize($size) {
	font-size: $size * 1px; //Fallback in px
	//font-size: calculateRem($size);
	font-size: rem-calc($size);
}

@mixin flex-vertically-center() {
	display: -webkit-box;   // OLD: Safari,  iOS, Android browser, older WebKit browsers.
	display: -moz-box;      // OLD: Firefox (buggy)
	display: -ms-flexbox;   // MID: IE 10
	display: -webkit-flex;  // NEW, Chrome 21–28, Safari 6.1+
	display: flex;          // NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+

	-webkit-box-align: center; -moz-box-align: center; // OLD…
	-ms-flex-align: center; // You know the drill now…
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-pack: center; -moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

@mixin background-size($size){
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	background-size: $size;
}

@mixin calc($property, $expression) {
	#{$property}: -moz-calc(#{$expression});
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

// We use this to create isosceles triangles
// $triangle-size - Used to set border-size. No default, set a px or em size.
// $triangle-color - Used to set border-color which makes up triangle. No default
// $triangle-direction - Used to determine which direction triangle points. Options: top, bottom, left, right
@mixin css-triangle($triangle-size, $triangle-color, $triangle-direction) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset $triangle-size;
  @if ($triangle-direction == top) {
    border-color: $triangle-color transparent transparent transparent;
    border-top-style: solid;
  }
  @if ($triangle-direction == bottom) {
    border-color: transparent transparent $triangle-color transparent;
    border-bottom-style: solid;
  }
  @if ($triangle-direction == left) {
    border-color: transparent transparent transparent $triangle-color;
    border-left-style: solid;
  }
  @if ($triangle-direction == right) {
    border-color: transparent $triangle-color transparent transparent;
    border-right-style: solid;
  }
}
