$vwhead: 'Volkswagen-head', Arial,Verdana,sans-serif;
$vwtext: 'Volkswagen-text', Arial,Verdana,sans-serif;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 900;

$blue: #2274AC;
$grey: #666;
$black: #000;
$red: #FF4A43;

$redChart: #ffaaaa;
$greenChart: #abdeab;
$orangeChart: #ffdfc4;
$greyChart: #ededed;

$body-font-family: $vwtext;
$body-font-weight: $regular;
