@import "fonts";
@import "variables";
@import "functions";


body{
	font-family: $vwtext;
	font-weight: $regular;
	@include fontSize(16);
}

/* Off canvas menu */

.right-off-canvas-toggle {

	.menu {	
		float: right;
		display: block;
		margin: 1.5rem 2.5rem;
	}  
}

.move-left .exit-off-canvas {
	box-shadow: none;
}

.right-off-canvas-menu {
	width: 35vw;
	height: 100vh;
}

.move-left > .inner-wrap {
	transform: translate3d(-35vw, 0, 0); 
}

.right-off-canvas-menu {

	background: #f1f1f1;
	padding: 3rem 3rem;
	
	.side-nav.main li a:not(.button) {
		font-weight: 100;
		font-style: normal;
		font-size: 1.75rem;
		color: #323237;
		text-transform: capitalize;
		
		.is-active, &:hover {
			color: #fff;
			background: transparent;
		}
	}
}


/* Hamburguer menu */

.top-bar,
.middle-bar,
.bottom-bar {
	display: block;
	width: 34px;
	height: 8px;
	background-color: #333;
	margin-bottom: 4px;
	transition: transform 0.4s cubic-bezier(1, 0, 0, 1) 0, background-color 0.6s ease 0;
}

.top-bar, .bottom-bar {
	transform-origin: 100% 50%;
}

.middle-bar {
	transition-property: opacity;
	transition-duration: 0.6s;
}

.top-bar-close {
	transform: rotate(-45deg);
	background-color: #333;
}

.middle-bar-close {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.bottom-bar-close {
	transform: rotate(45deg);
	background-color: #333;
}


/* General */

.header{
	margin-top: .5em;
	
	h1{
		font-family: $vwhead;
		font-size: 2rem;
		line-height: 70px;
		text-align: right;
	}
}


.login{
	margin-top: 60px;
	
	.button{
		background-color: $blue;	
	}
}


.report{
	
	padding: 40px 0px 0px 20px;
	
	header{
		border-bottom: 1px solid $black;
	}
	
	h2{
		font-family: $vwhead;
		font-size: 1.5rem;
		
		a{
			color: $black;
		}
		
		span{
			margin-left: 10px;
			font-size: 1.2rem;
		}
	}
	
	section{
		padding-top: 20px;
	}
}

/* KPI's */

.kpi{
	position: relative;
	min-height: 14.8rem;
	padding-top: 0.9375rem;
	margin-bottom: 0.9375rem;
	
	.front, 
	.back{
		position: absolute;
		top: 0;
		left: 0;
		width: 95%;
		height: 100%;
		padding: 0.9375rem 0;
		border: 1px solid #ccc;
		
		-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
		-webkit-transition: -webkit-transform 0.3s;
				transition: transform 0.3s;
				
			
	}
	
	.back{
		-webkit-transform: rotateY(-180deg);
				transform: rotateY(-180deg);
	}
	
	&:hover .front,
	&.flipped .front{
		-webkit-transform: rotateY(-180deg);
				transform: rotateY(-180deg);
	}
	
	&:hover .back,
	&.flipped .back{
		-webkit-transform: rotateY(0);
				transform: rotateY(0);
	}
	
	.front{
		
		&::before {
			border-bottom: 25px solid #e2e2e2;
			border-left: 0 solid #e2e2e2;
			border-right-color: #fff;
			border-top-color: #fff;
			border-style: solid;
			border-width: 0 25px 25px 0;
			content: "";
			display: block;
			position: absolute;
			right: -1px;
			top: -1px;
			width: 0;
			z-index: 1;
		}
		
		h3{
			display: block;
			color: $blue;
			font-size: 1rem;
			line-height: 2rem;
		}
		.kpi-number{
			display: inline-block;
			padding: 0.5rem 0;
			color: $blue;
			font-family: $vwhead;
			font-weight: $bold;
			font-size: 1.8rem;
		}
		.kpi-comparative{
			display: block;
			color: $grey;
			font-size: 1rem;
			font-weight: $light;
		}
		.kpi-rate{
			display: block;
			margin-top: 1rem;
			color: $blue;
			font-size: 1rem;
			font-weight: $regular;
		}
	}
	
	.chart{
		
		.icon{
			margin-top: 40%;
		}
		
		.piechart{
			
			canvas{
				margin-top: 30%;
				width: 100%;
				border-radius: 50%;
			}
		}
		
		&.rojo canvas{
			background-color: $redChart;
		}
		
		&.verde canvas{
			background-color: $greenChart;
		}
		
		&.amarillo canvas{
			background-color: $orangeChart;
		}
		
		&.gris canvas{
			background-color: $greyChart;
		}
	}
	
	.back{
		
		h4{
			@include fontSize(12);
			margin-bottom: 10px;
		}
		
		.private .columns, .company .columns{
			padding: 0;
			padding-bottom: 10px;
			
			span{
				width: 100%;
				display: block;
			}
		}
		
		.private{
			border-right: 1px solid $grey;
		}
		
		.kpi-secondary{
			padding-bottom: 3px;
			font-size: 1rem;
			color: $blue;
		}
		
		.kpi-comparative-secondary{
			font-size: 0.75rem;
			color: $grey;
		}
	}	
}

.na{
	
	h4{
		border-top:  1px solid $grey;
		padding-top: 10px;
	}

	.kpi-secondary{
		width: 100%;
		display: block;
		padding-bottom: 0px !important;
	}
}
